:root {
    --color-white: #ffffff;
    --color-blue: #0d6efd;
    --color-blue-dark: #084298;
    --color-blue-light: #cfe2ff;

    --text-primary: #16345c;
    --text-secondary: #52657d;

    --surface-base: #f5f7fb;
    --surface-selected: #f0f6ff;
    --border-primary: #dee6f2;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--surface-base);
    color: var(--text-primary);
}

@media (min-width: 450px) and (max-width: 575.98px) {
    .app-layout > .content {
        padding-inline: 2rem;
    }
}